<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Pivotal Shop Leaderboard</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/socket.io.js"></script>
    <script>
        var socket = io();
        socket.on('new record', function(users) {
            data = users
            location.reload()
        })
    </script>
</head>

<body>
  <h1><span class="blue">Pivotal Shop Leaderboard</h1>

<table class="container">
	<thead>
		<tr>
			<th><h1>User</h1></th>
			<th><h1>Score</h1></th>
		</tr>
	</thead>
	<tbody>
        {% for i, j in data %}
            <tr>
                <td>
                    {% if i === 0 %}
                        <i style="color: gold;" class="fa fa-trophy" aria-hidden="true"></i> 
                    {%  elseif i === 1 %}
                        <i style="color: silver;" class="fa fa-trophy" aria-hidden="true"></i> 
                    {%  elseif i === 2 %}
                        <i style="color: #cd7f32;" class="fa fa-trophy" aria-hidden="true"></i> 
                    {% endif %} 
                    {{j.name}}
                </td>
                <td>{{j.score}}%</td>
            </tr>
        {% endfor %}
	</tbody>
</table>

</body>
</html>
